@import "compass/reset";
@import "compass/css3";
@import "mixins";
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* dev *
div { background: rgba(255, 255, 255, 0.05); border: 1px solid #888;}
/* */
/* Flex Setup */
.flex-container {
    height: 100vh;
    width: 100%;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
/* Flex Child */
.flex-col > div,
.flex-row > div {
    flex: 1;
}
div.flex-grow-no {
    flex: 0;
}
/* Layout */
#header {
    flex: 0 0 50px;
}
#menu {
    flex: 0 0 150px;
    padding: 10px 0 0 0;
}
#queue {
    padding: 10px;
}
div.expander-req {
    flex: 0 0 60px;
    /* * flex: 0 0 60%; /* */
    transition: flex 400ms ease-out;
    overflow: hidden;
    /* &:hover { */
    &.show {
        flex: 0 0 60%;
        .rotate-text {
            top: 7px;
            left: 7px;
            transform: rotate(0deg);
        }
    }
    .search {
        flex: 0 0 50px;
        line-height: 50px;
        padding-left: 135px;
        input {
            border-radius: 5px;
            line-height: 30px;
        }
    }
}
div.expander-icon {
    cursor: pointer;
    flex: 0 0 55px;
    position: relative;
    transition: color 400ms ease-out;
    padding: 5px;
    div.rotate-text {
        position: absolute;
        top: 0;
        left: 50px;
        line-height: 50px;
        padding-left: 50px;
        font-size: 200%;
        transition: all 400ms ease-out;
        transform: rotate(90deg);
        transform-origin: top left;
    }
}
#content { position: relative; }
#content #req-notice {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding: 0;
    background: rgba(0,0,0,0.85);
    font-size: 125%;
    text-align: center;
    overflow: hidden;
    transition: height 200ms ease-out, padding 200ms ease-in;
}
/* * #content #req-notice, /* */
#content #req-notice.show {
    height: auto;
    padding: 10px 0;
}

/* Modal */
#modal { position: fixed; top: 0; left: 0; height: 100%; width: 100%; z-index: 200; background: rgba(0, 0, 0, 0.7); display: none; }
#modal .modal-container { position: relative; margin: 50px auto; }
#modal .modal-close { position: absolute; top: 2px; right: 4px; cursor: pointer; }
#modal .modal-content { padding: 15px 10px; }

/* Generic Settings */
:focus {
    outline-color: transparent;
    outline-style: none;
}
.cf:after,
.cf:before {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
.c {
    text-align: center;
}
.r {
    text-align: right;
}
.l {
    text-align: left;
}

.fl {
    float: left;
}
